




.p_style{
    background-color:#FBFCFC ;
    color: #17202A ;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: overline;
    text-decoration-style: dotted;
    text-align: justify;
    background-image: url(../download\ \(1\).png);
    



}

